{% extends "templates/web.html" %}
{% block title %}
    {{ _("Forgot Password") }}
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->

<div class="container h-100 pt-5 pt-lg-3 pb-5 pb-lg-3">
    <div class="row align-items-center justify-content-center h-100">
        <div class="shadow-sm col-11 col-md-12 col-xl-10 bg-white">
            <div class="row">
                <div class="order-1 order-md-2 col-12 col-md-6 p-4 p-md-5">
                    <div class='col-12 col-md-12 p-2 p-md-5 hidden password-changed'></div>
                    <div class="forgot-password-container">
                        <h1 class="text-center mt-4 mb-2">{{_("Reset")}}<br>{{_("Password")}}</h1>
                        <p class=text-center>{{_("Please enter your email that was used to sign up, and you will receive an email with a link to reset your password.")}}</p>
                        <form class="form-forgot-password mt-4">
                            <div class="row">
                                <div class="form-group col-12 mt-3 mb-3">
                                    <input type="email" class="form-control" placeholder="{{_('Email')}}" id="forgot_email" required>
                                </div>
                            </div>
                            <div class="form-group text-warning">
                                <label class="error-message"></label>
                            </div>
                            <div class="text-center mt-5 mb-4">
                                <button type=submit class="btn btn-warning">{{_("Reset Password")}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="d-block d-md-none text-center mb-4">
                        <a href="/signup" class="btn btn-outline-info" role=button>{{_("Sign up")}}
                            <svg width=1em height=1em viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="mt-md-5 pt-5">
                        <p class="font-small text-left text-md-right"><a href="/login" class=text-info>{{_("Sign in")}}</a>
                        </p>
                    </div>
                </div>
                <div class="order-2 order-md-1 col-12 col-md-6 p-2 p-md-5 d-none d-sm-none d-md-flex flex-wrap form-bgr" style="background-image:url('/assets/client_portal/images/form-bgr-reset.png')">
                    <div class="w-100 align-self-end text-center"><a href="#"> <img src="assets/client_portal/images/icons/white-logo.svg" alt=""> </a></div>
                    <div class="w-100 align-self-end text-center"><a href="/signup" role=button class="btn btn-outline-light mt-4 mb-4">{{_("Sign up")}}
                        <svg width=0.8em height=0.8em viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        {%- include "templates/includes/forgot-password/forgot-password.js" -%}
    </script>
{% endblock %}

{% block sidebar %}{% endblock %}
