<div class="">
    <p>{{_("Hello,")}}</p>
    <ul style="list-style-type:none">
        <li>{{_("Message: ") }}<br/>{{ message}}</li>
        <li>{{_("Full Name: ")}} {{ full_name }}</li>
        <li>{{_("Email: ")}} {{ email }}</li>
    </ul>
    <p>{{ _("Thank You")}}</p>
</div>
