<p>{{_("Dear")}} {{ user.first_name }}{% if user.last_name %} {{ user.last_name}}{% endif %},</p>
<p>{{_("Please click on the following link to update your new email")}}:</p>
<p><a class="btn btn-primary" href="{{ link }}">{{_("Update Email")}}</a></p>

{%- if disable_user_link -%}
	<br/>
	<p><a class="btn btn-primary" href="{{ disable_user_link }}">{{_("I did not change my email")}}</a></p>
{%- endif -%}
<p>
	{{_("Thank you")}},<br>
	{{ _("Bond North America") }}
</p><br/>
