<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>{{_("Please click on the following link to set your new password")}}:</p>
<p><a class="btn btn-primary" href="{{ link }}">{{_("Reset your password")}}</a></p>

{%- if disable_user_link -%}
	<br/>
	<p><a class="btn btn-primary" href="{{ disable_user_link }}">{{_("I did not change my password")}}</a></p>
{%- endif -%}
<p>
	{{_("Thank you")}},<br>
	{{ user_fullname }}
</p><br/>
