{%- extends "client_portal/templates/web.html" -%}
{% block title %}
{{ title }}
{% endblock %}
{%- block page_content -%}
<main>
    <section class="h-100 decore-bgr" style="background-image:url('/assets/client_portal/images/backgrounds/main-bgr.jpg')">
        <div class="container position-relative h-100 pt-md-3 pb-md-3">
            <div class="row align-items-md-center justify-content-center h-100 mx-0">
                <div class="col-12 rounded bg-light shadow-sm py-md-5 position-relative px-0 h-100">
                    <div class="d-flex h-100">
                        <div class="min-vh-75 d-flex flex-column align-items-center justify-content-center">
                            <div class="row form-slider w-100 justify-content-center align-items-md-stretch">
                                <div class="col-lg-5 col-xl-4 mb-3 mb-lg-0"> <a href=/portal/services/business class="d-block border-sm rounded-lg h-100 py-md-3 px-md-3 tab-link text-center">
                                        <div class="d-flex flex-column align-items-center justify-content-between justify-content-md-start py-lg-5 h-100"> <img src=/assets/client_portal/images/business-img.svg alt="" class="img-fluid my-4 max-size">
                                            <h2 class=card-font>Business Services</h2>
                                            <div class="px-sm-5 w-100">
                                                <p class="px-xl-4 font-tab">From lending and insurance to payroll taxes and credit card processing, we offer all of the products and services you need to operate and grow your business.</p>
                                            </div>
                                            <div class="slide-left-right-icons d-flex flex-column d-md-none align-items-center justify-content-center text-dark mt-3"> <button class="btn btn-dark mb-4">Apply</button> <img
                                                    src=/assets/client_portal/images/icons/finger-dark.svg alt=""> </div>
                                        </div>
                                    </a> </div>
                                <div class="col-lg-5 col-xl-4"> <a href=/portal/services/personal class="d-block border-sm rounded-lg h-100 py-md-3 px-md-3 tab-link text-center">
                                        <div class="d-flex flex-column align-items-center justify-content-between justify-content-md-start py-lg-5 h-100"> <img src=/assets/client_portal/images/personal-img.svg alt="" class="img-fluid my-4 max-size">
                                            <h2 class=card-font>Personal Insurance</h2>
                                            <div class="px-sm-5 w-100">
                                                <p class="px-xl-4 font-tab">We’re not an insurance company trying to sell you a policy. We’re an insurance broker who will find you the best deal — on anything you need to insure.</p>
                                            </div>
                                            <div class="slide-left-right-icons d-flex flex-column d-md-none align-items-center justify-content-center text-dark mt-3"> <button class="btn btn-dark mb-4">Apply</button> <img
                                                    src=/assets/client_portal/images/icons/finger-dark.svg alt=""> </div>
                                        </div>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "client_portal/templates/includes/portal/support.html" %}
</main>
{%- endblock -%}

{%- block script -%}
<script type="text/javascript">
</script>
{%- endblock -%}
