<div class="container position-relative">
	<div class="mobile-header">
		<a id="hamburger-icon" href="#" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="navbar-brand" href="/">
			<img src="/assets/client_portal/images/icons/logo.svg" alt="Bond Portal" class="img-fluid">
		</a>
		<div class="btn-notice-mobile">
			<a id="js-tooltip-notice-mobile" href="#" class="btn btn-link rounded-circle d-flex align-items-center justify-content-center" data-toggle="tooltip" data-html="true"
				title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>We’ll post your current notifications on the main screen whenever you log on, but you can also find all of your past notifications here.</div></div>">
				<i class="far fa-bell"></i>
				<span class="incoming-notice active"></span>
			</a>
		</div>
	</div>
	<nav id=js-navbar class="navbar py-lg-3 px-0">
		<h6 class="my-0 mr-lg-4 text-white">John Smith</h6>
		<a id=js-tooltip-id href=# class="nav-link text-white" data-html="true"
			title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>This is your member ID</div></div>"> B123567 </a>
		<ul class="nav nav-custom flex-column flex-lg-row mr-auto">
			<li class="nav-item active">
				<a id="js-tooltip-apply" href="/portal/services" class="nav-link text-white" data-html="true"
					title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>Apply for any personal or business product or service.</div></div>">
					Apply <i class="fas fa-long-arrow-alt-right d-lg-none pt-1 ml-2"></i>
				</a>
			</li>
			<li class=nav-item>
				<a id=js-tooltip-services href=# class="nav-link text-white" data-html="true"
					title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>See pending applications and current services.</div></div>">
					My Services <i class="fas fa-long-arrow-alt-right d-lg-none pt-1 ml-2"></i>
				</a>
			</li>
		</ul>
		<ul class="nav nav-custom justify-content-center ml-lg-auto">
			<li class="nav-item">
				<a id="js-tooltip-help" href="#" class="btn btn-outline-light text-white" data-html="true"
					title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>Get answers to your questions by reading our FAQs.</div></div>">
					Get Help
				</a>
			</li>
			<li class="nav-item ml-3">
				<a id=js-tooltip-account href=/my-account.html class="btn btn-outline-light text-white" data-html=true
					title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>See your account information and manage your settings.</div></div>">
					My Account
				</a>
			</li>
			<li class="nav-item ml-3 d-none d-sm-none d-md-none d-lg-block">
				<a id=js-tooltip-notice href=# class="btn btn-notice btn-outline-light text-white rounded-circle d-flex align-items-center justify-content-center" data-toggle=tooltip
					data-html=true
					title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/images/icons/info.png' class='img-fluid'></div><div class='text-left'>We’ll post your current notifications on the main screen whenever you log on, but you can also find all of your past notifications here.</div></div>">
					<i class="far fa-bell"></i>
					<span class="incoming-notice active"></span>
				</a>
			</li>
			<li class="nav-item ml-1 d-none d-sm-none d-md-none d-lg-block">
				<a href=/ class="nav-link text-white"> Log out <i class="ml-1 fas fa-sign-out-alt"></i></a>
			</li>
		</ul>
		<ul class="nav nav-custom flex-column d-lg-none">
			<li class=nav-item> <a class="nav-link text-white" href=#>Contact Us</a> </li>
			<li class=nav-item> <a class="nav-link text-white" href=#>Security Policy</a> </li>
			<li class=nav-item> <a class="nav-link text-white" href=#>Privacy Policy</a> </li>
			<li class=nav-item> <a href=/ class="nav-link text-white"> Log out <i class="ml-1 fas fa-sign-out-alt"></i> </a> </li>
		</ul>
		<div class="header-copyright smaller d-lg-none">Copyright © 2020. All rights reserved.</div>
	</nav>
</div>
