{%- extends "client_portal/templates/web.html" -%}
{% block title %}
    {{_("Disable User")}}
{% endblock %}

{%- block page_content -%}
<div class="row">
    <div class="col-md-5" style="margin-left:auto;margin-right:auto;">
        <section class="h-100">
            <div class="container h-100">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="shadow-sm col-12 col-md-12 col-xl-12 bg-white">
                        <div class="row">
                            <div class="col-12 col-md-12 p-2 p-md-5 forgot-password-container">
                                <h2 class="title-font text-center mt-4 mb-1">
                                    {%- if not invalid_user_key -%}
                                        User has been disabled, Please contact support to reactivate your accout
                                    {%- else -%}
                                        {{_("Invalid request")}}
                                    {% endif -%}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{%- endblock -%}

{%- block script -%}
    <script type="text/javascript">
            {%- include "client_portal/templates/includes/disable-user/disable_user.js" -%}
    </script>
{%- endblock -%}
