{%- extends "client_portal/templates/dashboard_web.html" -%}

{% block title %}
    {{ title }}
{% endblock %}

{%- block page_content -%}


<div class="col-11 col-md-7 offset-md-1 order-0 order-md-1 bg-white shadow-sm mb-5 mb-md-0">
    <div class="row h-100 py-4 px-2 px-xl-5">
        <div class="col-md-12 email-wrapper"></div>
        <div class="col-md-12 user-wrapper"></div>
    </div>
    <div class="custom-control custom-switch custom-switch-home position-absolute">
        <input type=checkbox class=custom-control-input id=customSwitchHomePage>
        <label class="custom-control-label text-info" for=customSwitchHomePage>{{_("Make This Your Homepage")}}</label>
    </div>
</div>
{%- endblock -%}

{%- block script -%}
    <script type="text/javascript">
        {% include "client_portal/templates/includes/dashboard/dashboard.js" %}
        {% include "client_portal/templates/includes/form.js" %}
        {%- include "client_portal/templates/includes/settings/account/account.js" -%}
    </script>
{%- endblock -%}
