{% extends "templates/web.html" %}
{% block title %}
    {{ _("Signup") }}
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div class="container h-100 pt-5 pt-lg-3 pb-5 pb-lg-3">
    <div class="row align-items-center justify-content-center h-100">
        <div class="shadow-sm col-11 col-md-12 col-xl-10 bg-white"">
            <div class="row">
                <div class="col-12 col-md-6 p-4 p-md-5">
                    <div class="text-center mt-4"><img src="/assets/client_portal/images/icons/portal-logo.svg" class=img-fluid alt=B></div>
                    <h1 class="title-font text-center mt-4 mb-1">
                        {{("Sign Up")}}
                    </h1>
                    <p class="text-center">{{_("We value your privacy and security")}}</p>
                    <form class="form-signup mt-4">
                        <div class=row>
                            <div class="form-group col-6">
                                <input class=form-control type=text placeholder="{{_('First Name')}}" id="firstname" required>
                            </div>
                            <div class="form-group col-6">
                                <input class=form-control type=text placeholder="{{_('Last Name')}}" id="lastname" required>
                            </div>
                            <div class="form-group col-12">
                                <input type=email class=form-control placeholder="{{_('Email')}}" id="email" required>
                                <label for="email" class='text-info'>{{_("You will use your email as your username for logging in")}}
                            </div>
                            <div class="form-group col-12">
                                <input type=password class=form-control placeholder="{{_('Create Password')}}" id="password" required>
                            </div>
                            <div class="form-group col-12">
                                <input type=password class=form-control placeholder="{{_('Confirm Password')}}" id="confirmpassword" required>
                            </div>
                            <div class="col-12 mt-3">
                                <div class=form-check>
                                    <input class=form-check-input type=checkbox value="" id="acceptterms" required>
                                    <label class=form-check-label for="acceptterms">
                                        {{_("By checking this box, your are opting in to receive future ")}}
                                        {{_("communication from Bond North America and agreed to")}}
                                        our <a class="text-info" href="/terms-and-conditions" target="_blank">{{_("Terms of Use") }}</a> and
                                            <a class="text-info" href="/privacy-policy" target="_blank">{{_(" Privacy Policy")}}</a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 text-warning mt-2">
                                <label class="error-message"></label>
                            </div>
                        </div>
                        <div class="text-center mt-5 mb-4">
                            <button type=submit class="btn btn-warning">{{_("Sign Up")}}</button>
                        </div>
                    </form>
                    <div class="d-block d-md-none text-center mb-4">
                        <a href="/login" class="btn btn-outline-info" role="button">{{_("Sign In")}}
                            <svg width=1em height=1em viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-2 p-md-5 d-none d-sm-none d-md-flex flex-wrap form-bgr"
                    style="background-image:url('/assets/client_portal/images/form-bgr-reset.png')">
                    <div class="w-100 align-self-end text-center">
                        <a href="/login">
                            <img src="assets/client_portal/images/icons/white-logo.svg" alt=""> </a>
                    </div>
                    <div class="w-100 align-self-end text-center">
                        <a href="/login" role=button class="btn btn-outline-light mt-4 mb-4">{{_("Sign In")}}
                            <svg width=0.8em height=0.8em viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        {%- include "templates/includes/password.js" -%}
        {%- include "templates/includes/signup/signup.js" -%}
    </script>
{% endblock %}

{% block sidebar %}{% endblock %}
