<div id=js-support-sticky class=support-wrap>
    <div class="container position-relative">
        <div class=support-box>
            <div class="desktop d-none d-sm-block">
                <div id=collapse-support class=collapse>
                    <div class=mb-3> <a href=tel:+12122036463 class="btn-collapse btn-collapse-sm"><i class="fas fa-phone-alt"></i></a>
                        <div class="text-center w-100 font-weight-bold">Call</div>
                    </div>
                    <div class=mb-3> <a href=mailto:name@email.com class="btn-collapse btn-collapse-sm"> <svg xmlns=http://www.w3.org/2000/svg width=28 height=21 viewBox="0 0 28 21">
                                <g>
                                    <g>
                                        <path fill=currentColor
                                            d="M24.36 17.56c-.275.375-.723.513-1.052.513-.388 0-.726-.141-1.006-.42L17.594 12.5l-.191.19c-.9.9-2.116 1.397-3.424 1.397a4.947 4.947 0 0 1-3.403-1.376l-.21-.21-4.678 5.118c-.31.312-.65.453-1.038.453-.366 0-.742-.156-1.006-.42a1.466 1.466 0 0 1-.137-1.906l.066-.077 4.775-5.187L3.644 5.78a1.408 1.408 0 0 1 0-2.014 1.41 1.41 0 0 1 2.013 0l6.912 6.912c.729.73 2.05.73 2.777 0l6.913-6.912a1.41 1.41 0 0 1 2.012 0c.578.577.596 1.461.044 2.014l-4.707 4.706 4.738 5.186c.495.493.503 1.313.013 1.887zM25.004.531H2.955A2.552 2.552 0 0 0 .41 3.077v15.266c0 1.4 1.144 2.544 2.544 2.544h22.05c1.4 0 2.545-1.145 2.545-2.544V3.077A2.552 2.552 0 0 0 25.005.532z" />
                                    </g>
                                </g>
                            </svg> </a>
                        <div class="text-center w-100 font-weight-bold">Email</div>
                    </div>
                    <div class=mb-3> <a href=# class="btn-collapse btn-collapse-sm"> <svg xmlns=http://www.w3.org/2000/svg width=27 height=26 viewBox="0 0 27 26">
                                <g>
                                    <g>
                                        <g>
                                            <path fill=currentColor
                                                d="M19.851 8.378c0 .897-.737 1.602-1.602 1.602H8.635a1.607 1.607 0 0 1-1.603-1.602c0-.897.738-1.602 1.603-1.602h9.614c.897 0 1.602.736 1.602 1.602zm-6.409 9.613c0 .898-.737 1.603-1.602 1.603H8.635a1.606 1.606 0 0 1-1.603-1.603c0-.896.738-1.601 1.603-1.601h3.205c.896 0 1.602.736 1.602 1.601zm6.41-4.806c0 .898-.738 1.602-1.603 1.602H8.635a1.607 1.607 0 0 1-1.603-1.602c0-.898.738-1.602 1.603-1.602h9.614c.897 0 1.602.737 1.602 1.602zM13.441.366H.624v12.819c0 7.082 5.736 12.818 12.818 12.818S26.26 20.267 26.26 13.185 20.524.366 13.442.366z" />
                                        </g>
                                    </g>
                                </g>
                            </svg> </a>
                        <div class="text-center w-100 font-weight-bold">Text</div>
                    </div>
                </div> <a id=js-support-btn class=btn-collapse data-toggle=collapse href=#collapse-support data-placement=left data-html=true
                    title="<div class='d-flex align-items-center text-white'><div class='mr-3'><img src='/assets/client_portal/images/icons/info.png' class='img-fluid'></div><div class='text-left'>This gives you three options: Call, chat, or email us.</div></div>">
                    <svg xmlns=http://www.w3.org/2000/svg width=41 height=33 viewBox="0 0 41 33">
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=currentColor
                                                    d="M35.165 18.25C35.223 6.604 24.811-.33 15.25 3.65c-2.37.984-4.238 2.419-5.807 4.472-2.67 3.487-3.346 7.3-2.628 11.53.267 1.568.542 3.112 1.093 4.606.142.392.042.71-.434.717-1.369.025-2.754.267-4.088-.233-1.686-.626-2.312-2.053-2.487-3.638-.208-1.86.902-3.095 2.461-3.871.801-.401 1.06-.851 1.177-1.744.326-2.553 1.193-4.864 2.578-7.15 1.577-2.612 3.504-4.615 6.124-5.95 4.606-2.353 9.295-2.728 14.134-.433 3.146 1.493 5.8 3.429 7.534 6.5 1.286 2.277 2.195 4.663 2.37 7.292.042.634.025 1.2.818 1.534 2.586 1.085 3.062 2.83 2.761 4.481-.325 1.785-1.776 3.087-3.988 3.221-1.076.058-1.71.258-2.21 1.351-1.002 2.153-3.046 3.171-5.173 3.864-2.812.91-5.916.542-8.653 1.944-1.093.559-1.635-.368-1.877-1.21-.267-.935-.126-1.844.96-2.312.759-.334 1.484-.083 2.118.193.685.292 1.118 1.009 2.062.85 2.944-.492 6.031-.534 8.36-2.803.483-.467.943-1.068 1.143-1.694.809-2.67 1.51-5.373 1.568-6.916z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg> </a>
            </div>
            <div class="mobile d-flex align-items-center bg-dark rounded-pill d-sm-none">
                <div id=collapse-support-mobile class="collapse float-left">
                    <div class="d-flex pl-3">
                        <div class=mr-3> <a href=tel:+12122036463 class="btn-collapse btn-collapse-sm"><i class="fas fa-phone-alt"></i></a> </div>
                        <div class=mr-3> <a href=mailto:name@email.com class="btn-collapse btn-collapse-sm"> <svg xmlns=http://www.w3.org/2000/svg width=28 height=21 viewBox="0 0 28 21">
                                    <g>
                                        <g>
                                            <path fill=currentColor
                                                d="M24.36 17.56c-.275.375-.723.513-1.052.513-.388 0-.726-.141-1.006-.42L17.594 12.5l-.191.19c-.9.9-2.116 1.397-3.424 1.397a4.947 4.947 0 0 1-3.403-1.376l-.21-.21-4.678 5.118c-.31.312-.65.453-1.038.453-.366 0-.742-.156-1.006-.42a1.466 1.466 0 0 1-.137-1.906l.066-.077 4.775-5.187L3.644 5.78a1.408 1.408 0 0 1 0-2.014 1.41 1.41 0 0 1 2.013 0l6.912 6.912c.729.73 2.05.73 2.777 0l6.913-6.912a1.41 1.41 0 0 1 2.012 0c.578.577.596 1.461.044 2.014l-4.707 4.706 4.738 5.186c.495.493.503 1.313.013 1.887zM25.004.531H2.955A2.552 2.552 0 0 0 .41 3.077v15.266c0 1.4 1.144 2.544 2.544 2.544h22.05c1.4 0 2.545-1.145 2.545-2.544V3.077A2.552 2.552 0 0 0 25.005.532z" />
                                        </g>
                                    </g>
                                </svg> </a> </div>
                        <div class=mr-3> <a href=# class="btn-collapse btn-collapse-sm"> <svg xmlns=http://www.w3.org/2000/svg width=27 height=26 viewBox="0 0 27 26">
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=currentColor
                                                    d="M19.851 8.378c0 .897-.737 1.602-1.602 1.602H8.635a1.607 1.607 0 0 1-1.603-1.602c0-.897.738-1.602 1.603-1.602h9.614c.897 0 1.602.736 1.602 1.602zm-6.409 9.613c0 .898-.737 1.603-1.602 1.603H8.635a1.606 1.606 0 0 1-1.603-1.603c0-.896.738-1.601 1.603-1.601h3.205c.896 0 1.602.736 1.602 1.601zm6.41-4.806c0 .898-.738 1.602-1.603 1.602H8.635a1.607 1.607 0 0 1-1.603-1.602c0-.898.738-1.602 1.603-1.602h9.614c.897 0 1.602.737 1.602 1.602zM13.441.366H.624v12.819c0 7.082 5.736 12.818 12.818 12.818S26.26 20.267 26.26 13.185 20.524.366 13.442.366z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg> </a> </div>
                    </div>
                </div> <a id=js-support-btn-mobile class=btn-collapse data-toggle=collapse href=#collapse-support-mobile> <svg xmlns=http://www.w3.org/2000/svg width=41 height=33 viewBox="0 0 41 33">
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=currentColor
                                                    d="M35.165 18.25C35.223 6.604 24.811-.33 15.25 3.65c-2.37.984-4.238 2.419-5.807 4.472-2.67 3.487-3.346 7.3-2.628 11.53.267 1.568.542 3.112 1.093 4.606.142.392.042.71-.434.717-1.369.025-2.754.267-4.088-.233-1.686-.626-2.312-2.053-2.487-3.638-.208-1.86.902-3.095 2.461-3.871.801-.401 1.06-.851 1.177-1.744.326-2.553 1.193-4.864 2.578-7.15 1.577-2.612 3.504-4.615 6.124-5.95 4.606-2.353 9.295-2.728 14.134-.433 3.146 1.493 5.8 3.429 7.534 6.5 1.286 2.277 2.195 4.663 2.37 7.292.042.634.025 1.2.818 1.534 2.586 1.085 3.062 2.83 2.761 4.481-.325 1.785-1.776 3.087-3.988 3.221-1.076.058-1.71.258-2.21 1.351-1.002 2.153-3.046 3.171-5.173 3.864-2.812.91-5.916.542-8.653 1.944-1.093.559-1.635-.368-1.877-1.21-.267-.935-.126-1.844.96-2.312.759-.334 1.484-.083 2.118.193.685.292 1.118 1.009 2.062.85 2.944-.492 6.031-.534 8.36-2.803.483-.467.943-1.068 1.143-1.694.809-2.67 1.51-5.373 1.568-6.916z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg> </a>
            </div>
        </div>
    </div>
</div>
