<!DOCTYPE html>
<!-- Built on Frappe. https://frappe.io/ -->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="generator" content="frappe">

	{% set v = 1 %}
	{% if dev_server == 1 %}
		{% set v = frappe.utils.now_datetime() %}
	{% endif %}

	{% block meta_block %}
		{% include "templates/includes/meta_block.html" %}
	{% endblock %}

	<title>{% block title %}{{ title | striptags }}{% endblock %}</title>

	{% block favicon %}
	<link
		rel="shortcut icon"
		href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
		type="image/x-icon"
	>
	{% endblock %}

	{%- block head -%}
		{% if head_html is defined -%}
		{{ head_html or "" }}
		{%- endif %}

		{% if theme.theme_url %}
		<link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
		{% else %}
		<link type="text/css" rel="stylesheet" href="/assets/css/client-portal-bootstrap.min.css?v={{v}}">


		{% endif %}
	{%- endblock -%}

	{%- block head_include %}
		{{ head_include or "" }}
	{% endblock -%}

	{%- block style %}{%- endblock -%}

	<script>
		window.frappe = {};
		frappe.boot = {{ boot }};
		frappe.boot.formdata = {{ form_data or {} }};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ (frappe.socketio_port or 'null') }};

    </script>
</head>
<body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}"
	{%- if template and template.endswith('.md') %} frappe-content-type="markdown" {% endif -%}>
	<div class="wrapper">

		<div class="content">
			<header class="header bg-dark fixed-top landing">
				{%- block navbar -%}
					{% include "client_portal/templates/includes/navbar/navbar.html" %}
				{%- endblock -%}
			</header>
			{% block content %}
				{{ content }}
			{% endblock %}
			<footer class="footer bg-dark d-none d-sm-none d-md-none d-lg-block">
				{%- block footer -%}
					{% include "client_portal/templates/includes/footer/footer.html" %}
				{%- endblock -%}
			</footer>
		</div>
	</div>
	{% block base_scripts %}
	<!-- js should be loaded in body! -->
	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js?v={{v}}"></script>
	<script type="text/javascript" src="/assets/js/client-portal-libs.min.js?v={{v}}"></script>
	<script type="text/javascript" src="/assets/js/client-portal-web.min.js?v={{v}}"></script>
	<script type="text/javascript" src="/assets/js/client-portal-form.min.js?v={{v}}"></script>
	<script type="text/javascript" src="/assets/js/client-portal-dialog-min.js?v={{v}}"></script>
	<script type="text/javascript" src="/assets/js/client-portal-bootstrap.min.js?v={{v}}"></script>
	{% endblock %}

	{%- block script %}
		<script type="text/javascript">
			if(frappe.boot.formdata && frappe.boot.formdata['__js']){
				eval(frappe.boot.formdata['__js']);
			}
		</script>
	{%- endblock %}
	<!-- csrf_token -->
	{%- block body_include %}{{ body_include or "" }}{% endblock -%}
</body>
</html>
