{% extends "client_portal/templates/base.html" %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
	{% block page_container %}
		<section class="pt-4 pb-4 h-100">
				<noscript>
					<div class="text-center my-5">
						<h4>{{ _("Javascript is disabled on your browser") }}</h4>
						<p class="text-muted">{{ _("You need to enable JavaScript for your app to work.") }}<br>
							{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
					</div>
				</noscript>
				{%- block page_content -%}
	            {%- endblock -%}
		</section>
	{% endblock %}
{% endmacro %}

{% macro container_attributes() %}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}" {%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{% endif %}
{% endmacro %}

{{ main_content() }}

{% endblock %}
