{%- extends "client_portal/templates/web.html" -%}
{% block title %}
{{ title }}
{% endblock %}
{%- block page_content -%}
<main>
    <section class="h-100 decore-bgr" style="background-image:url('/assets/client_portal/images/backgrounds/main-bgr.jpg')">
        <div class="container position-relative h-100 pt-md-3 pb-md-3">
            <div class="row align-items-md-center justify-content-center h-100 mx-0">
                <div class="col-12 shadow-sm bg-light rounded py-md-5 px-3 position-relative h-100">
                    <div class="d-flex h-100">
                        <div class="min-vh-75 d-flex flex-column align-items-center justify-content-center pt-5 pb-3">
                            <div class="row w-100">
                                <div class="col-12 text-center">
                                    <div class="time-box mb-3"> <time class="d-flex justify-content-center">12.45 <sup>AM</sup></time> </div>
                                    <div class="timezone-box text-muted"> <i class="fas fa-globe mr-1"></i> <span>Pacific</span> </div>
                                    <div class=date-box> October 26th, 2020 </div>
                                    <div class=day-box> Monday </div>
                                    <div class="row mt-5 justify-content-center">
                                        <img class="img-fluid col-12 col-md-5" src="/assets/client_portal/images/main-illustration.svg" alt=""> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "client_portal/templates/includes/portal/support.html" %}
</main>
{%- endblock -%}

{%- block script -%}
<script type="text/javascript">
</script>
{%- endblock -%}
