{%- extends "templates/web.html" -%}
{% block title %}
    {{ _("Welcome %s")%(frappe.session.user) }}
{% endblock %}
{%- block page_content -%}
    <div class="container h-100 shadow-sm bg-white col-md-5 mt-5 mb-5">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-8 col-md-8 col-lg-5 col-xl-5 text-center h-65 d-flex align-content-center flex-wrap">
                <div class="w-100 mt-5"><img class=img-fluid src='/assets/client_portal/images/default-user-icon.png' alt=Welcome></div>
                <h2 class="w-100 mt-3 mb-5">{{ "Hello, %s!"%(user.first_name)}}</h2></div>
        </div>
    </div>
{%- endblock -%}
{%- block script -%}
    <script type="text/javascript">
        $("section").fadeOut(3000, function(){
            window.location.href = "/dashboard";
        });
    </script>
{%- endblock -%}
