<aside class="col-11 col-md-3 order-1 order-md-0 bg-white shadow-sm d-flex flex-column justify-content-between mt-5 mt-md-0 mb-5 mb-md-0 pt-5 pb-5 sidebar">
	<div class="row justify-content-center sidebar-user-information"></div>
	<div class="row justify-content-center sidebar-options"></div>
	<div class="row justify-content-center mt-4 mt-md-0 sidebar-carousel"></div>
</aside>
