html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

html,
body,
main {
    height: 100%;
}

main {
    padding-top: 70px;
    height: 100%;
    position: relative;
    @media (max-width: 767.98px) {
        padding-top: 0;
    }
}

.container {
    @media (max-width: 767.98px) {
        padding: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100px;
}

//
.content {
    flex: 1;
}

//for IE
_:-ms-fullscreen, :root .content {
    flex: 1 0 auto;
}

.header {
    a.text-white {
        font-size: 14px;
        &:hover {
            color: #5b8ec1 !important;
        }
    }
}

footer {
    a.text-white {
        font-size: 14px;
        &:hover {
            color: #5b8ec1 !important;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    position: relative;
}

.min-vh-60-cart {
    min-height: 60vh;
    width: 100%;
    @media (max-width: 767.98px) {
        min-height: 80vh;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.min-vh-60 {
    min-height: 60vh;
    width: 100%;
    @media (max-width: 767.98px) {
        min-height: auto;
        padding-top: 120px;
        padding-bottom: 100px;
    }
}

.w-48 {
    width: 49.3%;
}

.w-sm-48 {
    width: 49.3%;
    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.min-vh-75 {
    min-height: calc(100vh - 256px);
    width: 100%;
    @media (min-width: 768px) and (max-width: 991.98px) {
        min-height: 80vh;
    }
    @media (max-width: 767.98px) {
        min-height: auto;
        padding-top: 120px;
        padding-bottom: 100px;
    }
}

//CUSTOM TYPOGRAPHY

h1, .h1 {
    font-size: 42px;
    @media (min-width: 576px) {
        @include fluid-font(36px, 52px, 576px, 1440px);
    }
    line-height: 1.1;
}

.landing {
    .hero-title {
        font-size: 29px;
        @media (min-width: 576px) {
            @include fluid-font(36px, 52px, 576px, 1920px);
        }
        line-height: 1;
        margin: 0 -10px;
    }
}

h2 {
    font-size: 38px;
    @media (min-width: 576px) {
        @include fluid-font(33px, 48px, 576px, 1440px);
    }
    line-height: 1.1;
}

h2.form-title {
    font-size: 32px;
    @media (min-width: 576px) {
        @include fluid-font(28px, 42px, 992px, 1440px);
    }
    line-height: 1.1;
}

h3 {
    font-size: 36px;
    @media (min-width: 576px) {
        @include fluid-font(30px, 44px, 576px, 1440px);
    }
    line-height: 1.1;
}

h4 {
    font-size: 30px;
    @media (min-width: 576px) {
        @include fluid-font(26px, 38px, 576px, 1440px);
    }
    line-height: 1.1;
}

h5 {
    font-size: 24px;
    @media (min-width: 576px) {
        @include fluid-font(24px, 36px, 576px, 1440px);
    }
    line-height: 1.1;
}

h6 {
    @include fluid-font(18px, 21px, 576px, 1440px);
    line-height: 1.1;
}

a.grey-hover {
    transition: all .3s;
    &:hover {
        color: #fff;
        opacity: .7;
    }
}

.form-font {
    font-size: 32px;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    @media (min-width: 576px) {
        @include fluid-font(28px, 32px, 992px, 1600px);
    }
}

.card-font {
    font-size: 42px;
    @media (min-width: 576px) {
        @include fluid-font(30px, 48px, 992px, 1600px);
    }
    line-height: 1;
}

.font-largest {
    font-size: 26px;
    //font-family: "Futura PT Book", sans-serif;
    @media (min-width: 576px) {
        @include fluid-font(18px, 26px, 992px, 1600px);
    }
    line-height: 31px;
}

.font-slider-form {
    font-size: 22px;
    font-family: "Futura PT", sans-serif;
    font-weight: 500;
    @media (min-width: 576px) {
        @include fluid-font(24px, 32px, 992px, 1600px);
    }
    line-height: normal;
}

.font-lg {
    font-size: 20px;
    //font-family: "Futura PT Book", sans-serif;
    @media (min-width: 576px) {
        @include fluid-font(18px, 22px, 992px, 1600px);
    }
    line-height: normal;
}

.font-description {
    font-size: 20px;
    font-family: "Futura PT Book", sans-serif;
    @media (min-width: 576px) {
        @include fluid-font(18px, 20px, 992px, 1600px);
    }
    line-height: 1.3;
}

.font-form-description {
    font-size: 20px;
    font-family: "Futura PT Book", sans-serif;
    @media (min-width: 576px) {
        @include fluid-font(18px, 22px, 992px, 1600px);
    }
    line-height: 1.2;
}

.sidebar-description {
    font-size: 20px;
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    @media (min-width: 576px) {
        @include fluid-font(20px, 24px, 992px, 1600px);
    }
    line-height: 1.1;
}

.font-tab {
    font-size: 18px;
    @include fluid-font(18px, 18px, 375px, 1440px);
    line-height: 22.2px;
}

.font-weight-500 {
    font-weight: 500;
}

.phone-font {
    font-size: 17px !important;
    color: $white;
}

.smaller {
    font-size: 12px;
}

.btn.small-sm {
    @media (max-width: 575.98px) {
        font-size: 14px !important;
    }
}

.text-decoration {
    text-decoration: underline;
}

//Buttons
.btn {
    min-width: 152px;
    line-height: 1.2;
    @media (max-width: 575.98px) {
        min-width: 150px;
    }
    @media (max-width: 325.98px) {
        font-size: 12px;
        min-width: 130px;
        padding: 10px 14px;
    }
}

.btn.btn-lg {
    min-width: 220px;
    @media (max-width: 991.98px) {
        font-size: 20px;
        min-width: 155px;
    }
    @media (max-width: 325.98px) {
        min-width: 130px;
    }
}

.btn.btn-prev {
    outline: none;
    color: #d5d5d5;
    font-size: 18px;
    font-weight: 500;
    min-width: auto;
    box-shadow: none !important;
    &:hover {
        color: #161617;
    }
}

.btn.btn-dark.btn-lg,
.btn.btn-info.btn-lg,
.btn.btn-outline-dark.btn-lg {
    font-size: 20px;
    padding: 1rem 2rem;
}

.btn-primary:hover {
    color: $blue;
    background-color: transparent;
}

.btn-light:hover {
    color: $light;
    border-color: $light;
    background-color: transparent;
}

.btn-dark:hover {
    color: $gray-800;
    background-color: transparent;
}

.btn-outline-light:hover {
    color: $cyan;
    background-color: transparent;
    border-color: $cyan;
}

.btn-link:hover {
    color: $cyan;
    background-color: transparent;
}

.btn-edit {
    min-width: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    font-size: 16px;
    color: $gray-500;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        color: $cyan;
    }
}

.btn-delete {
    font-size: 16px;
    min-width: 0;
    outline: none;
    color: $gray-500;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(90%);
    &:focus {
        box-shadow: none;
    }
    &:hover {
        color: $cyan;
    }
    @media (max-width: 575.98px) {
        transform: translateX(0);
        position: relative;
        padding: 0 5px;
        margin-left: -20px;
    }
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
}

a.tab-link {
    color: #161617 !important;
    transition: all .3s;
    &:hover {
        color: #161617 !important;
        border-color: #161617 !important;
    }
    .max-size {
        min-height: 305px;
        @media (max-width: 1399.98px) {
            min-height: auto;
            height: 200px;
        }
        @media (max-width: 757.98px) {
            height: 250px;
        }
    }
}

.btn-group-toggle .tab-link {
    box-shadow: none;
    &.active {
        border-color: #161617 !important;
    }
    &:hover {
        border-color: #161617 !important;
    }
}

.tab-icon {
    height: 45px;
}

.btn-notice {
    position: relative;
    svg {
        height: auto;
        font-size: 18px;
        margin-bottom: 0;
    }
}

.btn-notice-mobile {
    display: none;
    @media (max-width: 991.98px) {
        display: block;
        position: absolute;
        right: 0;
        top: 15px;
        svg {
            color: $white;
            font-size: 26px;
            height: auto;
        }
    }
}

.btn-round.plus-btn, .btn-round.minus-btn {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #f96632;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #f96632;
    &:hover {
        background-color: #fff;
        color: #f96632;
    }
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.incoming-notice {
    display: none;
}

.incoming-notice.active {
    position: absolute;
    top: 0;
    right: 3px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $orange;
    @media (max-width: 991.98px) {
        width: 7px;
        height: 7px;
        top: 10px;
        right: 11px;
    }
}

//FORMS
.form-control, .custom-select {
    border-bottom: 1px solid #1a375b;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    box-shadow: none !important;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid $cyan;
        color: $cyan;
    }
    &:focus {
        background-color: transparent;
        border-bottom: 1px solid $cyan;
        color: $cyan;
    }
    option:disabled {
        color: #a0a0a0;
        background-color: #ccc;
    }
}

.input-group-append {
    button {
        font-size: 16px;
    }
}

.input-group-lg .form-control,
.btn-group-lg .btn {
    font-family: 'Futura PT Book', sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    padding: 0.85rem 1rem 0.85rem 1.5rem;
}

.custom-switch {
    .custom-control-label {
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        &.small {
            font-size: 14px;
            line-height: normal;
            padding-top: 3px;
        }
    }
}

:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $cyan;
}

:hover::-moz-placeholder { /* Firefox 19+ */
    color: $cyan;
}

:hover:-ms-input-placeholder { /* IE 10+ */
    color: $cyan;
}

:hover:-moz-placeholder { /* Firefox 18- */
    color: $cyan;
}

.input-group-lg-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d5d5d5;
}

.input-group-lg-control input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d5d5d5;
}

.text-dark.custom-switch .custom-control-label::before {
    background-color: #000;
}

.text-dark.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    color: #000;
    border-color: #000;
    background-color: transparent;
}

.text-dark.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #000;
}

.icon-margin {
    margin-left: -20px;
    background-color: transparent;
}

.icon-r-margin {
    margin-right: -20px;
    background-color: transparent;
}

.input-group-append button {
    outline: none;
    &:hover {
        color: $cyan !important;
    }
}

.input-group-custom {
    border: 1px solid #ababab;

    &:focus {
        border: 1px solid $cyan;
        outline: none;
    }
    &:hover {
        border: 1px solid $cyan;
    }

    .form-control {
        border: none;
        padding: .375rem .75rem;
        &:focus {
            color: $cyan;
        }
    }
}

textarea {
    resize: none;
    &:hover {
        border-color: #5b8ec1;
    }
}

.hover:hover {
    border: 1px solid #5b8ec1 !important;
}

//Main Page Block
.time-box {
    @include fluid-font(50px, 55px, 375px, 1440px);
    line-height: 0.4;
    sup {
        @include fluid-font(16px, 18px, 375px, 1440px);
    }
}

.date-box {
    @include fluid-font(24px, 24px, 375px, 1440px);
}

.tooltip-inner {
    padding: 18px;
    border-radius: 10px;
    @media (max-width: 329.98px) {
        width: 200px;
    }
    img {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }
}

.bs-tooltip-bottom {
    margin-top: 25px;
}

.mini-nav-box {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 0 25px;
    top: 30px;
    font-weight: 500;
    @media (max-width: 1399.98px) {
        //right: 10px;
        top: 15px;
        font-size: 14px;
    }
    @media (max-width: 767.98px) {
        top: 90px;
    }
}

//Support Buttons

#js-support-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    //top: auto;
    //height: auto;
    width: 100%;
    z-index: 90;
    @media (max-width: 991.98px) {
        bottom: 0;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: auto !important;
        bottom: 50px !important;
        position: fixed;
    }

}

.support-box {
    position: absolute;
    bottom: 35px;
    right: 34px;
    .btn-collapse {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #161617;
        border: 1px solid #161617;
        color: #fff;
        font-size: 30px;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: #161617;
            + .text-center {
                color: $info;
            }
        }
    }
    .btn-collapse-sm {
        width: 58px;
        height: 58px;
        font-size: 25px;
        margin: 0 auto;
    }
    @media (max-width: 575.98px) {
        right: 0;
        .btn-collapse {
            border-radius: 50% 0 0 50%;
            &:hover {
                background-color: #161617;
                color: #fff;
            }
        }
        .btn-collapse-sm {
            border-radius: 50%;
            background-color: transparent;
        }
        //bottom: 0;
    }
}

//Backgrounds

.bg-body {
    background-color: #365484;
}

.bg-light {
    background-color: rgba(255, 255, 255, .9) !important;
    @media (max-width: 767.98px) {
        border-radius: 0 !important;
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

.decore-bgr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.decore-bgr {
    background-attachment: fixed;
    padding-bottom: 52px !important;
    @media (max-width: 991.98px) {
        padding-bottom: 0 !important;
    }
    @media (max-width: 575.98px) {
        background-image: unset !important;
        .shadow-sm {
            box-shadow: none !important;
        }
    }
}

.dec-1 {
    width: vw(280);
    height: vw(250);
    position: absolute;
    right: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 575.98px) {
        width: 189px;
        height: 168px;
    }
}

.dec-2 {
    width: vw(130);
    height: vw(345);
    position: absolute;
    left: 0;
    top: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 575.98px) {
        top: 3%;
        width: 80px;
        height: 251px;
    }
}

.dec-3 {
    width: vw(380);
    height: vw(100);
    position: absolute;
    right: 20%;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 575.98px) {
        width: 250px;
        height: 68px;
    }
}

.border-sm {
    border: 1px solid $gray-300;
    @media (max-width: 757.98px) {
        border: none;
    }
}

header {
    .btn {
        min-width: 136px;
    }
    .btn.rounded-circle {
        min-width: 0;
        width: 40px;
        height: 40px;
        padding: 0;
    }
}

//MAIN MOBILE MENU

header {
    height: 72px;
    .navbar-brand-lite {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        position: absolute;
        transition: all .3s;
        z-index: 999;
        &:hover {
            opacity: .7;
        }
    }
    .navbar-brand {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        position: absolute;
        transition: all .3s;
        z-index: 999;
        &:hover {
            opacity: .7;
        }
        @media (max-width: 991.98px) {
            position: relative;
            left: auto;
            top: auto;
            transform: translate(0);
            margin-right: 0;
        }
    }

    @media (max-width: 991.98px) {
        .container {
            max-width: 100% !important;
            padding: 0;
            height: 100%;
        }
        .mobile-header {
            background-color: #161617 !important;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #js-navbar {
            width: 100%;
            height: 100vh;
            padding: 15vh 0 50px;
            background-color: #fff;
            position: fixed;
            z-index: 99;
            top: 0;
            left: -100%;
            color: #161617;
            display: none;
            overflow-y: auto;
            text-align: center;

        }
        #js-navbar.show {
            display: block;
            left: 0;
            -webkit-animation: slideLeft .5s ease-in; /* Safari 4+ */
            -moz-animation: slideLeft .5s ease-in; /* Fx 5+ */
            -o-animation: slideLeft .5s ease-in; /* Opera 12+ */
            animation: slideLeft .5s ease-in; /* IE 10+, Fx 29+ */
        }
        .nav-custom {
            margin: 30px 0 0;
            min-width: 150px;
            text-align: center;
            &.mr-auto {
                margin-right: 0 !important;
            }
            &.ml-auto {
                margin-left: 0 !important;
            }
        }

        .nav-item .nav-link {
            font-size: 18px;
        }

        h6 {
            font-size: 30px;
        }

        .text-white {
            color: #161617 !important;
        }
        .btn-outline-light {
            border-color: #161617;
        }
        .header-copyright {
            margin-top: 30px;
        }
        .fa-long-arrow-alt-down {
            transform: rotate(-90deg);
            font-weight: 300;
            margin-bottom: -2px !important;
        }

    }

    @media (max-width: 339.99px) {
        .nav-custom {
            margin: 15px 0 0;
        }
    }

}

.landing {
    @media (max-width: 991.99px) {
        .nav-item .nav-link {
            font-size: 18px;
        }
        .btn-notice-mobile svg {
            font-size: 17px;
            right: 0;
        }
    }
}

#hamburger-icon {
    display: none;
    width: 20px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 27px;
    margin: 0;
    @media (max-width: 991.98px) {
        display: block;
    }

    .line {
        display: block;
        background: #fff;
        width: 20px;
        height: 3px;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;

        &.line-1 {
            top: 0;
        }

        &.line-2 {
            top: 50%;
        }

        &.line-3 {
            top: 100%;
        }
    }

    &.active {
        height: 20px;
        top: 23px;
        .line-1 {
            transform: translateY(9px) translateX(0) rotate(45deg);
            -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
            -moz-transform: translateY(9px) translateX(0) rotate(45deg);
        }

        .line-2 {
            opacity: 0;
        }

        .line-3 {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
            -moz-transform: translateY(-11px) translateX(0) rotate(-45deg);
        }
    }

}

//menu animation
@-webkit-keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

//SLIDERS
.slick-track {
    display: flex;
    height: 100%;
}

.form-slider-50 {
    width: 50%;
    @media (max-width: 767.98px) {
        height: 100%;
        //min-height: 80vh;
    }
    @media (max-width: 369.98px) {
        height: 100%;
        //min-height: 70vh;
    }
}

.slide-left-right-icons {
    .fa-hand-point-up {
        font-size: 35px;
    }
}

//Landing Page

.container-landing {
    max-width: vw(1700);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 767.98px) {
        max-width: 640px;
    }

    @media (max-width: 991.98px) {
        max-width: 760px;
    }
    @media (max-width: 1599.98px) {
        max-width: 1360px;
    }
}

.container-form {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: vw(100);
    margin-bottom: vw(110);
}

.landing-hero-img {
    overflow: hidden;
    z-index: -1;
    bottom: 17px;
    left: 0;
    width: 100%;
    .landing-hero-img-1 {
        position: relative;
        left: -35px;
        width: vw(710);
        height: auto;
    }
    .landing-hero-img-2 {
        position: relative;
        right: -35px;
        width: vw(710);
        height: auto;
    }
}

.hero-section {
    @media (max-width: 767.98px) {
        padding: 120px 0 60px;
    }
    .btn-group-toggle {
        .btn {
            max-width: 220px;
            width: 220px;
            @media (max-width: 575.98px) {
                max-width: 220px;
                width: 50%;
            }
        }
    }
    .hero {
        padding: 50px 0;
        min-height: calc(100vh - 70px);
        @media (max-width: 1199.98px) {
            padding: 0;
            min-height: 100%;
        }
    }
}

.how-it-works-section {
    background-color: #fcfcfc;
    padding: vw(161) 0 vw(170);
    @media (max-width: 767.98px) {
        padding: 100px 0;
    }
    .icon-slider-item {
        width: 32%;
        padding: 0 35px;
        @media (max-width: 1499.98px) {
            width: 33%;
            padding: 0;
        }
        @media (max-width: 767.98px) {
            width: unset;
        }
    }
    .font-largest {
        font-size: 32px;
    }
    .font-tab {
        font-family: "Futura PT", sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
    }
    .tab-icon {
        height: 70px;
    }
}

.row-section {
    padding: vw(200) 0;
    @media (max-width: 767.98px) {
        padding: 140px 0 90px;
    }
}

.form-landing-section {
    padding: vw(130) 0;
    @media (max-width: 767.98px) {
        padding: 0;
    }
    .border-md {
        border: 1px solid #d3d3d3;
        @media (max-width: 767.98px) {
            border: none;
            border-radius: 0 !important;
            margin-right: -15px;
            margin-left: -15px;
            padding-bottom: 100px !important;
        }
    }
    .btn-group-toggle {
        .btn {
            max-width: 200px;
            min-width: auto;
            width: 50%;
        }
    }
}

//Multi Step Form
/*Hide all fieldset except first */

#progress-wrap {
    position: fixed;
    top: 71px;
    width: 100%;
    z-index: 90;

    .container-progress {
        max-width: 100%;
        padding: 0 29%;
        @media (max-width: 991.98px) {
            padding: 0 15px;
            max-width: 560px;
        }
    }

    .text-white * {
        color: #fff;
    }
    button {
        color: #3c3c3c;
        display: block;
        margin: 0 auto -3px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-family: "Gabriela", sans-serif;
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        &:hover {
            color: #fff;
            opacity: 0.9;
        }
        @media (min-width: 1024px) {
            @include fluid-font(10px, 17px, 1024px, 1440px);
        }
    }
    button:disabled,
    button[disabled]{
        cursor: no-drop;
    }
    .fa-chevron-down {
        color: #3c3c3c;
        font-size: 10px;
        @media (max-width: 575.98px) {
            font-size: 7px;
        }
    }
    .progress {
        border-radius: 2px;
        padding: 2px;
        height: 5px;
        background-color: #3c3c3c;
    }
}

.main-form-landing {
    //padding: 200px 0 50px;
    background-color: #fff;
    @media (max-width: 991.98px) {
        padding: 130px 0 0;
    }
    &.first-step-padding {
        padding: 70px 0 0;
    }

    .left-col-form {
        width: 29%;
        background-color: #fafafa;
        padding: 0 15px;
        @media (max-width: 991.98px) {
            width: 100%;
        }

        .sidebar-img {
            max-width: 280px;
            margin-bottom: 15px;
            @media (min-width: 992px) and (max-width: 1499.98px) {
                max-width: 60%;
            }
            @media (max-width: 991.98px) {
                max-width: 280px;
            }
            @media (max-width: 575.98px) {
                max-width: 250px;
            }
            &-first {
                max-width: 350px;
                @media (min-width: 992px) and (max-width: 1499.98px) {
                    max-width: 80%;
                }
                @media (max-width: 991.98px) {
                    max-width: 280px;
                }
                @media (max-width: 575.98px) {
                    max-width: 250px;
                }
            }
        }

        .form-title {
            font-size: 28px;
            line-height: 1.1;
            @media (min-width: 576px) {
                @include fluid-font(24px, 36px, 992px, 1440px);
            }
            @media (min-width: 992px) and (max-width: 1499.98px) {
                font-size: 24px;
            }
        }

        .position-fixed-sidebar {
            position: fixed;
            width: 29%;
            left: 0;
            top: 200px;
            @media (max-width: 1499.98px) {
                top: 150px;
            }
            @media (max-width: 991.98px) {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
            }
        }
    }

    .left-col-form.left-col-form-0 {
        .position-fixed-sidebar {
            top: 170px;
            @media (max-width: 991.98px) {
                top: auto;
            }
        }
    }

    .right-col-form {
        width: 58%;
        padding: 0 15px;

        @media (max-width: 1299.98px) {
            width: 71%;
        }
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }

    .form-padding {
        padding-top: 150px;
        padding-bottom: 100px;
        align-content: flex-start;
        @media (max-width: 1499.98px) {
            padding-top: 100px;
        }
        @media (max-width: 991.98px) {
            padding-top: 75px;
            padding-bottom: 80px;
        }
    }

    .form-padding.form-padding-0 {
        padding-top: 120px;
        @media (max-width: 1499.98px) {
            padding-top: 100px;
        }
        @media (max-width: 991.98px) {
            padding-top: 75px;
            padding-bottom: 80px;
        }
    }

    #msform fieldset:not(:first-of-type) {
        display: none;
    }

    aside {
        height: 100%;
        padding-top: 180px;
        padding-bottom: 80px;
        @media (max-width: 1499.98px) {
            padding-top: 100px;
        }
        @media (max-width: 991.98px) {
            max-width: 100%;
            margin-left: 0;
            height: auto;
            padding-top: 50px;
            padding-bottom: 25px;
        }
    }

    .form-description {
        text-align: center;
        max-width: 670px;
        margin: 45px auto 0;
        font-size: 16px;
        font-family: 'Futura PT Book', sans-serif;
        font-weight: 300;
    }

    .btn-save-padding {
        margin-top: 35px;
        @media (max-width: 1499.98px) {
            margin-top: 15px;
        }
        @media (max-width: 991.98px) {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    }

    .bg-light-blue {
        background-color: #dceaf4;
    }

    #js-vin-tooltip {
        img {
            opacity: 0.3;
        }
        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    @media (max-width: 349.98px) {
        br {
            content: ' ';
            &:after {
                content: ' '
            }
        }
    }
}



.tooltip-width {
    .tooltip {
        max-width: 95%;
        top: -15px !important;
    }
    .tooltip.show {
        opacity: 1;
    }
    .tooltip-inner {
        max-width: 95%;
        width: 100%;
        p {
            margin: 0;
            padding: 0 2vw;
            font-size: 14px !important;
        }
    }
    @media (min-width: 992px) {
        .tooltip {
            top: -15px !important;
            width: 100%;
            max-width: vw(1500);
            .tooltip-inner {
                width: 60%;
                max-width: 60%;
                margin-left: auto;
            }
        }
    }
    @media (min-width: 1400px) {
        .tooltip {
            top: -15px !important;
            width: 100%;
            max-width: vw(1500);
            .tooltip-inner {
                width: 55%;
                max-width: 55%;
                margin-left: auto;
            }
        }
    }
}

.input-group-lg-control {
    background-color: #fff;
    overflow: hidden;
    input {
        color: #161617;
        &:focus {
            color: #161617;
        }
    }
    .input-group-text {
        padding-right: 1rem !important;
    }
    .circle-icon {
        background-color: transparent;
        border: 1px solid #161617;
        border-radius: 50%;
        width: 30px;
        min-width: 30px;
        height: 30px;
        color: #161617;
        svg {
            font-size: 14px;
            vertical-align: .235em;
        }
    }
    .circle-icon-dark {
        color: #161617;
        background-color: transparent;
        border: 1px solid #161617;

    }
    &:hover {
        border: 1px solid #f96632 !important;
        .circle-icon {
            border: 1px solid #f96632 !important;
            background-color: #fff !important;
            color: #f96632 !important;
        }
        .circle-icon-dark {
            color: #161617;
            background-color: transparent;
            border: 1px solid #fceee8;
        }
    }
    &.not-empty {
        border: 1px solid #f96632 !important;
        .circle-icon {
            border: 1px solid #f96632;
            background-color: #fff !important;
            color: #f96632 !important;
        }
    }
}
.btn-group-lg {
    .btn {
        padding-right: 1rem;
        @media (max-width: 329.98px) {
            padding-left: 1rem;
            font-size: 18px;
        }
    }
    //radio buttons
    .btn-outline-warning {
        background-color: #fff;
        border: 1px solid #161617;
        color: #161617;
        max-width: 100%;
        box-shadow: none;
        .circle-icon {
            background-color: transparent;
            border: 1px solid #161617;
            border-radius: 50%;
            width: 30px;
            min-width: 30px;
            height: 30px;
            color: #161617;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                font-size: 12px;
                vertical-align: 0;
                @media (max-width: 991.98px) {
                    //vertical-align: -.125em;
                }
            }
        }
        &:hover {
            border: 1px solid #f96632;
            .circle-icon {
                border: 1px solid #f96632;
                background-color: #fff;
                color: #f96632;
            }
        }
    }
    .btn-outline-warning.active {
        .circle-icon {
            border: 1px solid transparent;
            background-color: rgba(255,255,255,1);
            color: #f96632;
        }
    }

}

//Custom Select
.nice-select-custom {
    font-size: 22px;
    letter-spacing: .8px;
    font-family: 'Futura PT Book', sans-serif;
    font-weight: 400;
    height: auto;
    line-height: 1.2;
    padding: 1rem 3rem 1.1rem 1.5rem;
    border-radius: 30px;
    border: 1px solid #161617;
    white-space: pre-wrap;
    @media (max-width: 991.98px) {
        font-size: 20px;
    }
    &.text-muted {
        color: #d5d5d5 !important;
    }
    &:hover {
        border: 1px solid #f96632;
    }

    &:after {
        height: 30px;
        width: 30px;
        background: url(/images/icons/triang.svg) no-repeat 100%/100%;
        border: none;
        right: 1rem;
        transform: none;
        margin-top: -15px;
        transform-origin: 0;
    }
    &:hover:after {
        background: url(/images/icons/triang-hover.svg) no-repeat 100%/100%;
    }
    .option {
        font-weight: 400 !important;
        position: relative;
        color: #161617;
        padding: .8rem 3rem .8rem 1.5rem;
        @media (max-width: 325.98px) {
            line-height: 1.1;
        }
        &:after {
            content: '';
            position: absolute;
            height: 30px;
            width: 30px;
            background: url(/images/icons/star-icon.svg) no-repeat 100%/100%;
            border: none;
            transform: none;
            margin-top: -14px;
            top: 50%;
            right: 1rem;
            transform-origin: 0;
        }
        &:hover:after {
            background: url(/images/icons/star-hover.svg) no-repeat 100%/100%;
        }
        &.disabled {
            display: none;
        }
    }

}

.nice-select-custom.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f96632;
    border-bottom: none !important;
    z-index: 55;
    .list {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(249,102,50,.3);
            border-radius: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 6px rgba(249,102,50,.5);
        }
        max-height: 540px;
        overflow-y: auto;
        margin-top: 0;
        margin-left: -1px;
        margin-right: -1px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 29px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid #f96632;
        box-shadow: none;
        border-top: none !important;
    }
    &:after {
        background: url(/images/icons/triang-open.svg) no-repeat 100%/100% !important;
        transform: rotate(0);
    }
}

.nice-select-custom.select-active {
    border: 1px solid #f96632;
    &:after {
        background: url(/images/icons/triang-hover.svg) no-repeat 100%/100%;
    }
}

.nice-select-custom .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: transparent;
    color: #f96632;
    font-weight: normal;
}

.outline-none {
    outline: none !important;
}

.form-disabled {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 50;
    background-color: rgba(255,255,255,0.80);
}

//Form validation error
.nice-select-custom.has-error {
    border: 1px solid #dc3545 !important;
}

.btn.has-error {
    border: 1px solid #dc3545 !important;
    .circle-icon {
        background-color: rgba(243,244,247,.7);
        color: #dc3545;
    }
}

.input-group-lg-control.has-error {
    border: 1px solid #dc3545 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea, select {
    &:hover {
        cursor: text;
    }
}

//form animation
#js-form-finish {
    display: none;
    //position: relative;
    z-index: 80;
}

#js-hide-footer {
    display: none;
    @media (max-width: 991.98px) {
        display: none !important;
    }
}

.opacity-fade-in {
    -webkit-animation: fadeIn 2.3s ease-in-out; /* Safari 4+ */
    -moz-animation: fadeIn 2.3s ease-in-out; /* Fx 5+ */
    -o-animation: fadeIn 2.3s ease-in-out; /* Opera 12+ */
    animation: fadeIn 2.3s ease-in-out; /* IE 10+, Fx 29+ */
}

.opacity-fade-in-text {
    -webkit-animation: fadeIn 1.8s ease-in-out; /* Safari 4+ */
    -moz-animation: fadeIn 1.8s ease-in-out; /* Fx 5+ */
    -o-animation: fadeIn 1.8s ease-in-out; /* Opera 12+ */
    animation: fadeIn 1.8s ease-in-out; /* IE 10+, Fx 29+ */
}

//form-finish animation
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInText {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
