//Custom Colors
$blue: #1a375b !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #f96632 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #5b8ec1 !default;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #d3d3d3 !default;
$gray-400: #ced4da !default;
$gray-500: #a0a0a0 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #161617 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1400px
) !default;

//Container
$body-bg: #fff !default;
$body-color: $gray-800 !default;
$container-max-widths: (
        sm: 640px,
        md: 760px,
        lg: 1200px,
        xl: 1628px
) !default;

$box-shadow-sm: 0 3px 6px rgba(0, 0, 0, 0.16) !default;

//Fonts

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.375 !default;
$font-size-sm:                $font-size-base * .875 !default;
$headings-color: $gray-800 !default;
$font-family-sans-serif: 'Futura PT', sans-serif !default;
$headings-font-family: 'Gabriela', sans-serif;
$link-hover-color: $cyan !default;
$link-hover-decoration: none !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: bolder !default;
$text-muted: $gray-500 !default;
$small-font-size: 85% !default;
$border-radius-lg: 16px !default;

// Navbar
$navbar-dark-color: rgba($white, 1) !default;

//Forms
$input-bg: transparent !default;
$input-disabled-bg: $gray-200 !default;
$input-color: $gray-800 !default;
$input-btn-font-size: 14px !default;
$input-height: 2.5rem;
$input-padding-x: 0 !default;
$input-padding-y: .475rem !default;
$input-placeholder-color: #a0a0a0 !default;
$input-border-radius: 0 !default;
$input-border-color: #1a375b;
$input-border-width: 0 !default;
$input-focus-box-shadow: none !default;
$input-focus-bg: transparent;
$input-group-addon-bg: transparent !default;
$custom-select-border-radius: 0 !default;
$custom-select-indicator: url("data:image/svg+xml,<svg width='6' height='5' viewBox='0 0 16 15' fill='#{$input-color}' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") !default;
$form-group-margin-bottom:              1.2rem !default;
$input-btn-padding-y-lg:      .8rem !default;
$input-btn-padding-x-lg:      1.4rem !default;

//Buttons
$btn-font-size: $input-btn-font-size !default;
$btn-border-radius: 20px !default;
$btn-border-radius-lg: 20px !default;
$btn-border-radius-sm: 20px !default;
$btn-font-weight: 500;
$btn-padding-x: 25px;
$btn-padding-y: 10px;
$btn-font-size-lg: 22px !default;
$btn-padding-y-lg:            .85rem !default;
$btn-padding-x-lg:            2rem !default;

////Switches
$custom-control-indicator-size:         1rem !default;
$custom-control-indicator-bg: $cyan !default;
$custom-control-indicator-bg-size: 50% 50% !default;
$custom-control-indicator-box-shadow: $cyan !default;
$custom-control-indicator-border-color: $white !default;
$custom-control-indicator-border-width: 1px !default;
$custom-control-label-color: $cyan !default;
$custom-control-indicator-checked-border-color: $cyan !default;
$custom-control-indicator-checked-bg: transparent !default;
$custom-control-indicator-checked-box-shadow: none !default;
$custom-control-indicator-checked-border-color: $cyan !default;
$custom-control-indicator-focus-border-color: none !default;

// Tooltips

$tooltip-bg: #161617 !default;
$tooltip-max-width: 230px !default;