@font-face {
  font-family: 'Futura PT';
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.eot');
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.woff2') format('woff2'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.woff') format('woff'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.ttf') format('truetype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.eot');
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.woff2') format('woff2'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.woff') format('woff'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.ttf') format('truetype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.eot');
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.woff') format('woff'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.ttf') format('truetype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.eot');
  src: url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.woff2') format('woff2'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.woff') format('woff'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.ttf') format('truetype'),
  url('/assets/client_portal/bootstrap/fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gabriela';
  src: url('/assets/client_portal/bootstrap/fonts/Gabriela-Bold.eot');
  src: url('/assets/client_portal/bootstrap/fonts/Gabriela-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/client_portal/bootstrap/fonts/Gabriela-Bold.woff') format('woff'),
  url('/assets/client_portal/bootstrap/fonts/Gabriela-Bold.ttf') format('truetype'),
  url('/assets/client_portal/bootstrap/fonts/Gabriela-Bold.svg#Gabriela-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
