

.web-footer{
    background-color:#1a375b !important;
    font-size: 12px !important;
}
.web-footer .footer-group-label {
	color: #e6f8ff;;
}

.footer-group a .footer-group-label:hover{
    color:#5b8ec1;
}

.web-footer{
    background-color:#1a375b !important;
    font-size: 12px !important;
    padding: 0rem 0 !important;
    min-height: 50px !important;

}
.web-footer .footer-link-item {
    color: #e6f8ff !important;
}

.list-group .footer-link-item a .footer-group-label:hover{
    color:#5b8ec1 !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #1a375b;
    border: 1px solid rgba(22, 22, 23, 0.125);
}
.footer-links .container{
    padding:0;
}
.footer-links .container .col-md-6{
    padding: 0;
}
