


/* Indicator color */
.page-card .page-card-head .indicator {
    color: #161617;
    font-size: 14px;
}
.indicator.blue::before, .indicator-right.blue::after {
    background: none !important;
}
.indicator.red::before, .indicator-right.red::after {
    background: none !important;
}
