.web-sidebar{
    margin-top:1em;
    margin-bottom: 1em;
}
.user-profile-pic{
    height: 100px;
    margin-top: 5em;
}
.getout{
    margin-top: 5em;
}
.select2-container--default .select2-selection--single{
    border: none;
    border-bottom: 1px solid #f96632;
    border-radius: 0;
}
.select2-container--default .select2-selection--single:focus{
    shadow: none;
    outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    shadow: none;
    outline: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {

}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: white;
    color: black;
}

.more-info .dropdown-toggle{
    border: none;
}

.dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after {
    display:none;
}
.more-info{
    margin-top: 2em;
}
.more-info .dropdown-toggle{
    border-bottom: 1px solid #161617;
    border-radius: 0px;

}
.more-info .dropdown-toggle{
    font-weight: bold;
}

.dropdown-toggle:focus{
    border-bottom: 1px solid #f96632;
}

.more-info.show .dropdown-toggle{
    border-bottom: 1px solid #f96632;
}
.more-info.show .dropdown-toggle svg {
    color: #f96632;
}
