<div class="container py-2">
	<nav class="row navbar-dark bg-dark px-0">
		<div class="navbar-text smaller order-1 order-md-0 col-12 col-md-auto">Copyright © 2020. All rights reserved.</div>
		<ul class="nav ml-md-auto order-0 order-md-1 col-12 col-md-auto">
			<li class=nav-item> <a class="nav-link text-white" href=#>Contact Us</a> </li>
			<li class=nav-item> <a class="nav-link text-white" href=#>Security Policy</a> </li>
			<li class=nav-item> <a class="nav-link text-white" href=#>Privacy Policy</a> </li>
		</ul>
	</nav>
</div>
