{%- extends "client_portal/templates/web.html" -%}
{% block title %}
    {{ _("Contact Bond") }}
{% endblock %}

{%- block page_content -%}
<div class="row align-items-center justify-content-center h-100">
    <div class="col-4 col-md-6 col-xl-4 bg-white shadow-sm">
        <div class="row">
            <div class="col-12 col-md-12 p-4 p-md-5">
                <div class="contactus-container">
                    <h1 class="text-center mt-4 mb-2">{{_("Contact Bond")}}</h1>
                    <p class=text-center>
                        {{_("Please use this form to contact Bond corporate.") }}
                        {{ _("This can be used to raise any questions, feedback, or concerns you have. We are here to help.")}}
                        <b>{{_("Please note: ")}}</b> {{_("when using this form, your Agent will not be CC’ed.")}}
                    </p>
                    <form class="form-contactus mt-4">
                        <div class="row">
                            <div class="form-group col-12 mt-3 mb-3">
                                <textarea class="form-control" id="message" placeholder='{{ "Enter your message here" }}' rows="3" reqd></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6 mt-3 mb-3">
                                <input type="text" class="form-control" id="first_name"  placeholder='{{ "First Name" }}' reqd
                                    value='{{first_name or ""}}'/>
                            </div>
                            <div class="form-group col-6 mt-3 mb-3">
                                <input type="text" class="form-control" id="last_name"  placeholder='{{ "Last Name"}}' reqd
                                    value='{{last_name or ""}}'/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 mt-3 mb-3">
                                <input type="email" class="form-control" id="email"  placeholder='{{ "Email"}}' reqd
                                    value='{{ email or ""}}'/>
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <label class="error-message"></label>
                        </div>
                        <div class="text-center mt-5 mb-4">
                            <button type="submit" class="btn btn-warning">{{_("Submit")}}</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}
{%- block script -%}
    <script type="text/javascript">
        {%- include "client_portal/templates/includes/contactus/contactus.js" -%}
    </script>
{%- endblock -%}
