{% extends "templates/web.html" %}
{% block page_content %}
<!-- {{ for_test }} -->
<div class="container h-100 pt-5 pt-lg-3 pb-5 pb-lg-3">
    <div class="row align-items-center justify-content-center h-100">
        <div class="shadow-sm col-11 col-md-12 col-xl-10 bg-white">
            <div class="row">
				<div class="order-1 order-md-2 col-12 col-md-6 p-4 p-md-5">
					<div class="text-center mt-4">
						<img src="/assets/client_portal/images/icons/portal-logo.svg" class=img-fluid alt=B>
					</div>
					<h1 class="text-center mt-1 mb-1">{{_("Sign In")}}</h1>
					<p class=text-center>{{_("Enter your login and password")}}</p>
					<form class="form-login" role="form">
						<div class="page-card-head">
							<span class="indicator hidden"></span>
						</div>
						<div class="row">
							<div class="form-group col-12 mt-3 mb-3">
								<input type="text" class="form-control" placeholder="{{_('Email')}}" required id="login_email"></div>
							<div class="form-group col-12 mt-3 mb-3">
								<input type="password" class="form-control" placeholder="{{_('Password')}}" required id="login_password">
							</div>
						</div>
						<div class="text-center mt-5 mb-4">
							<button type="submit" class="btn btn-warning">{{ _("Sign in") }}</button>
						</div>
					</form>
					<div class="d-block d-md-none text-center mb-4"><a href="/signup" class="btn btn-outline-info" role=button>{{_("Sign up")}}
						<svg width="1em" height="1em" viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
							<path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
						</svg>
					</a></div>
					<div class="d-lg-flex justify-content-between mt-md-5 pt-5">
						<div><p class="font-small"><a href="/forgot-password">{{_("Forgot your password?")}}</a></p></div>
					</div>
				</div>
				<div class="order-2 order-md-1 col-12 col-md-6 p-2 p-md-5 d-none d-sm-none d-md-flex flex-wrap form-bgr" style="background-image:url('/assets/client_portal/images/form-bgr-reset.png')">
					<div class="w-100 align-self-end text-center">
						<a href="#">
							<img src="/assets/client_portal/images/icons/white-logo.svg" alt="Sign-Up">
						</a>
					</div>
					<div class="w-100 align-self-end text-center">
						<a href="/signup" role=button class="btn btn-outline-light mt-4 mb-4">{{_("Sign up")}}
							<svg width="0.8em" height="0.8em" viewBox="0 0 16 18" class="bi bi-caret-right-fill" fill=currentColor xmlns=http://www.w3.org/2000/svg>
								<path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
