{%- extends "templates/web.html" -%}
{% block title %}
    {{ "Privacy Policy" }}
{% endblock %}
{%- block page_content -%}
    {%- if privacy_policy -%}
        <div class="container h-100 pt-5 pt-lg-3 pb-5 pb-lg-3">
            <div class="row align-items-center justify-content-center h-100">
                <div class="shadow-sm col-12 col-md-12 col-xl-12 bg-white">
                    <div class="row">
    					<div class="ml-4 mr-4 mb-4">
                            <h2 class="mt-4">{{ privacy_policy.title }}</h2>
                            {{ privacy_policy.contents }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endblock -%}
