{%- extends "client_portal/templates/web.html" -%}
{% block title %}
    {{_("Bond")}}
{% endblock %}

{%- block page_content -%}
<main>
    <section class="h-100 decore-bgr" style="background-image:url('/assets/client_portal/images/backgrounds/main-bgr.jpg')">
        <div class="container position-relative h-100 pt-md-3 pb-md-3">
            <div class="row align-items-md-center justify-content-center h-100 mx-0">
                <div class="col-12 rounded bg-light shadow-sm py-md-5 position-relative h-100">
                    <div class="mini-nav-box d-flex align-items-center">
                        <div class="w-100 text-left"> <a href="/portal" class=""><i class="mr-1 fas fa-caret-left small"></i> Back</a> </div>
                    </div>
                    <div class="d-flex h-100">
                        <div class="min-vh-75 d-flex flex-column align-items-center justify-content-center">
                            <div class="row w-100 justify-content-center form-slider">
                                <div class="col-md-12 col-lg-4">
                                    <p class="font-largest font-weight-500 text-center d-flex align-items-center justify-content-center">
                                        <i class="fas fa-long-arrow-alt-left mr-3 d-md-none"></i> Business Services
                                        <i class="fas fa-long-arrow-alt-right ml-3 d-md-none"></i>
                                    </p>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 pl-3 pl-lg-0 my-3">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/business-financing.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Business Financing</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/payroll.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Payroll & Human Resources</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/credit-card.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Credit Card Processing</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/insurance-services.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Insurance Services</p>
                                    </a>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                    <p class="font-largest font-weight-500 text-center d-flex align-items-center justify-content-center">
                                        <i class="fas fa-long-arrow-alt-left mr-3 d-md-none"></i> Insurance Products
                                        <i class="fas fa-long-arrow-alt-right ml-3 d-md-none"></i>
                                    </p>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/general-liability.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">General Liability</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/workers-compensation.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Workers Compensation</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/business-owners.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Business Owners Policy</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/commercial-auto.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Commercial Auto</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src="/assets/client_portal/images/icons/umbrella.svg" alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Umbrella</p>
                                    </a>
                                    <a href="" class="d-flex align-items-center tab-link border rounded-lg py-3 pr-3 my-3 pl-3 pl-lg-0">
                                        <div class="w-25 mr-2 mr-lg-0 text-center">
                                            <img src=" " alt="" class="img-fluid tab-icon">
                                        </div>
                                        <p class="font-tab m-0">Cyber</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "client_portal/templates/includes/portal/support.html" %}
</main>
{% endblock %}
