{% extends "client_portal/templates/web.html" %}

{% block title %} {{_("Update Email")}} {% endblock %}

{%- block page_content -%}

<div class="container h-100  col-md-4 pt-5 pt-lg-3 pb-5 pb-lg-3">
    <div class="row align-items-center justify-content-center h-100">
        <div class="shadow-sm col-12 col-md-12 col-xl-12 bg-white">
            <div class="row">
                <div class="col-12 col-md-12 p-2 p-md-5">
                    <h2 class="title-font text-center mt-4 mb-1">
                        {{ email_update_message }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}

{%- block script -%}
    <script type="text/javascript">
        {%- if not failed -%}
            $("section").fadeOut(3000, function(){
                window.location.href = "{{redirect_url}}";
            });
        {%- endif -%}
    </script>
{%- endblock -%}
