{%- extends "client_portal/templates/dashboard_web.html" -%}
{% block title %}
    {{ title }}
{% endblock %}

{%- block page_content -%}
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{%- endblock -%}

{%- block script -%}
    <script type="text/javascript">
        {%- include "client_portal/templates/includes/dashboard/dashboard.js" -%}
        {%- include "client_portal/templates/includes/settings/settings.js" -%}
    </script>
{%- endblock -%}
