{% extends "templates/web.html" %}

{% block title %} {{_("Reset Password")}} {% endblock %}

{% block page_content %}

<div class="container h-100  col-md-4 pt-5 pt-lg-3 pb-5 pb-lg-3">
    <div class="row align-items-center justify-content-center h-100">
        <div class="shadow-sm col-12 col-md-12 col-xl-12 bg-white">
            <div class="row">
                <div class="col-12 col-md-12 p-2 p-md-5">
                    <h2 class="title-font text-center mt-4 mb-1">
                        {%- if not invalid_password_link -%}
                            {{ _("Reset Password") if frappe.db.get_default('company') else _("Set Password")}}
                        {%- else -%}
                            {{ _("Invalid password link")}}
                        {%- endif -%}
                    </h2>
                    {%- if not invalid_password_link -%}
                        <form class="reset-password">
                            <div class="form-group">
                                <input type="password" class="form-control" id="new_password" placeholder="{{_('New Password')}}" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="confirm_password" placeholder="{{_('Confirm Password')}}" required/>
                            </div>
                            <div class="form-group error-message text-primary"></div>
                            <div class="text-center mt-4 mb-4">
                                <button class="btn btn-sm btn-primary btn-warning" type="submit" id="update"
                                        style="margin-left:auto; margin-right:auto;">{{_("Update")}}</button>
                            </div>
                        </form>
                    {%- else -%}
                        <p class="text-center"><a href="/forgot-password">{{_("Go to forgot password page")}}</a></p>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
{% include "client_portal/templates/includes/password.js" %}

frappe.ready(function() {
    var args = {};
    $.extend(args, {
        $password_wrapper: $("#new_password"),
        $error_message_wrapper: $(".error-message"),
        $confirm_password_wrapper: $("#confirm_password"),
    });

    let password_policy = new PasswordPolicy(args);

    if(!password_policy.is_password_link_expired()){
        return false;
    }

	$("#reset-password").on("submit", function() {
		return false;
	});

	$("#new_password").on("keypress", function(e) {
		if(e.which===13) $("#update").click();
	})

    $("#confirm_password").on("click", function(e){
        if(e.which===13)
            $("#update").click();
    });

	$("#update").click(function() {

		var args = {
			key: frappe.utils.get_url_arg("key") || "",
			new_password: $("#new_password").val(),
            confirm_password: $("#confirm_password").val(),
			logout_all_sessions: 1
		}

		if(!password_policy.validate_new_password(args)){
            return false;
		}

        if(!password_policy.match_password(args.new_password, args.confirm_password)){
            return false;
        }

        $(".error-message").empty();

		frappe.call({
			type: "POST",
			method: "client_portal.www.update-password.index.update_password",
			btn: $("#update"),
			args: args,
			statusCode: {
				401: function() {
                    $(`<span>${__("Invalid Password")}</span>`).appendTo($(".error-message"));
				},
				410: function({ responseJSON }) {
					const message = responseJSON.message;
					$(`<span>${message}</span>`).appendTo($(".error-message"));
				},
				200: function(r) {
					$("input").val("");
					$(".error-message")
						.removeClass().addClass("indicator blue")
						.html(__("Status Updated"));
					if(r.message) {
						frappe.msgprint({
							message: __("Password Updated"),
							// password is updated successfully
							// clear any server message
							clear: true
						});
						setTimeout(function() {
							window.location.href = r.message;
						}, 2000);
					}
				}
			}
		});

		return false;
	});
});
</script>
{% endblock %}
