{%- extends "client_portal/templates/web.html" -%}
{% block title %}
{{_("Bond")}}
{% endblock %}

{%- block page_content -%}
<section id="js-form-finish" class="fixed-top form-results bg-dark">
    <div class="container-form">
        <div class="d-flex">
            <div class="d-flex flex-column align-items-center justify-content-center w-100 min-vh-100">
                <div class="row justify-content-center w-100">
                    <div class="col-12 col-md-9">
                        <div class="py-5">
                            <div id="js-animation-opacity" class="text-center">
                                <img src="/images/big_format.gif" alt="" class="img-fluid" style="max-width: 240px;">
                            </div>
                            <div id="js-content-box-opacity">
                                <h2 class="form-title text-center mt-4 mb-3 text-white">
                                    You’ve arrived.
                                </h2>
                                <p class="font-form-description text-center text-white">While we wait for the best quotes in [Brooklyn], you should know that we’ll periodically check to make sure you have the lowest rate. If you don’t, we’ll help you switch.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="steps-wrapper"></div>
<main class="main-form-landing form-wrapper"></main>

{% endblock %}
