{%- extends "client_portal/templates/web.html" -%}
{% block title %}
    {{ _("Feedback") }}
{% endblock %}

{%- block page_content -%}
<div class="row align-items-center justify-content-center h-100">
    <div class="col-4 col-md-6 col-xl-4 bg-white shadow-sm">
        <div class="row">
            <div class="col-12 col-md-12 p-4 p-md-5">
                <div class="feedback-container">
                    <h1 class="text-center mt-4 mb-2">{{_("Feedback")}}</h1>
                    <p class=text-center>
                        {{_("Feedback? We strive to constantly improve and your feedback is critical to that goal.
                        Whether the feedback is positive or negative, whether it is about your experience or just something
                        you’d like to share with us, we would love to hear from you.")}}
                    </p>
                    <form class="form-feedback mt-4">
                        <div class="row">
                            <div class="form-group col-12 mt-3 mb-3">
                                <textarea class="form-control" id="feedback" placeholder='{{ "Enter your feedback here" }}' rows="3" reqd></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6 mt-3 mb-3">
                                <input type="text" class="form-control" id="first_name"  placeholder='{{ "First Name" }}' reqd
                                    value='{{first_name or ""}}'/>
                            </div>
                            <div class="form-group col-6 mt-3 mb-3">
                                <input type="text" class="form-control" id="last_name"  placeholder='{{ "Last Name"}}' reqd
                                    value='{{last_name or ""}}'/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 mt-3 mb-3">
                                <input type="email" class="form-control" id="email"  placeholder='{{ "Email"}}' reqd
                                    value='{{ email or ""}}'/>
                            </div>
                        </div>
                        <div class="form-group text-warning">
                            <label class="error-message"></label>
                        </div>
                        <div class="text-center mt-5 mb-4">
                            <button type="submit" class="btn btn-warning">{{_("Submit")}}</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}
{%- block script -%}
    <script type="text/javascript">
        {%- include "client_portal/templates/includes/feedback/feedback.js" -%}
    </script>
{%- endblock -%}
